<p>Listado de heroes</p>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{heroe}}

        <button (click)="deleteHeroeIndex(i)">
            Borrar
        </button>
    </li>
</ul>

<div *ngIf="delHeroe !== ''; else noDeleted">
    <h3>Heroe Borrado</h3>
    <small> {{delHeroe}} </small>
</div>

<!-- Los ng-templates funcionan con una referencia local, en este caso
cuando el ng if no se cumple llama a esta referencia local y la muestra en
pantalla  -->
<ng-template #noDeleted>
    <h3>No ha borrado nada</h3>
</ng-template>

<br>

<button (click)="deleteFirstHeroe()">
    Borrar primer heroe
</button>